#caf table{
    border: 2px solid black;
    background-color: grey;
}

#caf table tr td{
    width:  48px;
    height: 48px;
    border: 2px solid darkgray;
}

#caf table tr td.blue{
    border: 2px solid darkgreen;
    background-image: url("images/b48.png");
}
#caf table tr td.blueHalt{
    border: 2px solid darkred;
    background-image: url("images/b48.png");
}
#caf table tr td.bluePrior {
    border: 2px solid darkgreen;
    background-image: url("images/m-b48.png");
}
#caf table tr td.bluePriorHalt {
    border: 2px solid darkred;
    background-image: url("images/m-b48.png");
}
#caf table tr td.red{
    border: 2px solid darkgreen;
    background-image: url("images/r48.png");
}
#caf table tr td.redHalt{
    border: 2px solid darkred;
    background-image: url("images/r48.png");
}
#caf table tr td.redPrior {
    border: 2px solid darkgreen;
    background-image: url("images/m-r48.png");
}
#caf table tr td.redPriorHalt {
    border: 2px solid darkred;
    background-image: url("images/m-r48.png");
}

div.left{
    float: left;
}
div.clear{
    clear: both;
}

#xspeed table{
    border: 2px solid black;
    background-color: gray;
}

#xspeed table tr td{
    width:  48px;
    height: 48px;
    border: 2px solid darkgray;
    background-color: lightskyblue;
}

#yspeed table{
    border: 2px solid black;
    background-color: gray;
}

#yspeed table tr td{
    width:  48px;
    height: 48px;
    border: 2px solid darkgray;
    background-color: palevioletred;
}

#aspeed table{
    border: 2px solid black;
    background-color: gray;
}

#aspeed table tr td{
    width:  48px;
    height: 48px;
    border: 2px solid darkgray;
    background-color: mediumpurple;
}